body {
  margin: 0;
  text-align: center;
  font-family: 'Monda', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Montez', cursive;
  font-size: 5.625rem;
  color: #ef4339;
}

p {
  line-height: 2;
}

.top {
  background-color: #FFDBC5;
  position: relative;
  padding-top: 25px;
}

.black {
  background-color: black;
  width: 200px;
  height: 200px;
}

.grey {
  background-color: grey;
  width: 200px;
  height: 200px;
}

.skull {
  width: 150px;
  position: absolute;
  right: 300px;
  top: 20px;
}

.skull-bottom {
  width: 150px;
  position: absolute;
  left: 250px;
  bottom: 375px;
}

.ship {
  width: 400px;
}

.circle {
  border-radius: 100%;
  width: 15%;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Monda', sans-serif;
  color: #ef4339;
  font-weight: normal;
  padding: 10px;
}

.bottom-container {
  background-color: #2e112d;
  padding: 50px 0 20px;
}

.footer-link {
  color: #ef4339;
  word-spacing: 10.5em;
}

h3 {
  color: #ef4339;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.solution {
  width: 25%;
  float: left;
  margin-right: 60px;
}

.tools {
  width: 25%;
  float: right;
  margin-right: 60px;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Monda', sans-serif;
  color: #2e112d;
  font-size: 20px;
  background: #ffdbc5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #ef4339;
  text-decoration: none;
}

hr {
  border: dotted #2e112d 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

a {
  color: #ef4339;
  font-family: 'Monda', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.25rem;
}

a:hover {
  color: #ffdbc5;
}

.copyright {
  color: #ffdbc5;
  font-size: 0.75rem;
  padding: 20px 0;
}
